* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100dvh;
}

.modal {
    position: absolute;
    background-color: rgb(214, 214, 214);
    width: 500px;
    height: 300px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
}

.modal.active {
    display: flex;
}

.modal-head {
    display: flex;
    justify-content: space-between;
}

.modal img {
    height: 30px;
}

.modal-bottom {
    display: flex;
    margin-top: auto;
    justify-content: flex-end;
    gap: 10px;
}

.modal-bottom button {
    padding: 10px 15px;
    border: none;
}

.modal-bottom .confirm {
    background-color: green;
    color: white;
}